html,
body {
    height: 100%;
    background-color: #ac60cc;
/*  font-family: 'Source Sans Pro', sans-serif;*/
    z-index: 0;
}

textarea {
    width: 75%;
}

.acronym {
    font-size: 35px;
}

#bars {
    display: inline;
}

#grapes-prompt {
    padding-left: 150px;
}

.journal-field {
    width: 90%;
}

#journal-entry-modal {
    color: black;
}

#journal-date {
    padding-top: 30px;
}

/*#journal-page {
    margin: 5px;
}*/

.mood-fill {
    background-color: orange;
    color: white;
    border-radius: 25px;
    text-align: center;
}

#profile-page {
    background-image: url("/static/images/vine.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: right top;
    color: #f7f7f7;
}

.progress-fill {
    background-color: green;
    border-radius: 25px;
    color: white;
    text-align: center;
}

.progress-outline {
    width: 102px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 25px;
}

#today-entry {
    background-image: url("/static/images/open-notebook.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 5px;
}

.whine {
    width: 100%;
}