{% extends 'base.html' %}

{% block title %}GRAPES{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>GRAPES</h1>
            <h2>A quick, everyday mindset journal</h2>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <h3>Sign Up</h3>
            <form action="/register" method="POST">
                <label for="name">Name:</label>
                    <input type="text" name="name">
                <label for="email">Email:</label>
                    <input type="email" name="email">
                <label for="password">Password:</label>
                    <input type="password" name="password">
                <input type="submit" value="Create Account">
            </form>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <h3>Log In</h3>
            <form action="/login" method="POST">
                <label for="email">Email:</label>
                    <input type="email" name="email">
                <label for="password">Password:</label>
                    <input type="password" name="password">
                <input type="submit" value="Log in">
            </form>
        </div>
    </div>
</div>

{% endblock %}