<!DOCTYPE html>
<html>
<head>
    <title>GRAPES Journal</title>
</head>
<body>
    <h1>GRAPES</h1>
    <h2>A quick, everyday journal</h2>

    <form action="/register" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name">

        <label for="email">Email:</label>
        <input type="email" name="email">
    

        <label for="password">Password:</label>
        <input type="password" name="password">


        <input type="submit" value="Create Account">
    </form>
</body>
</html>