{% extends 'base.html' %}

{% block title %}GRAPES{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>GRAPES</h1>
            <h2>A quick, everyday mindset journal</h2>
        </div>
    </div>
</div>
<br>

<div class="container">
    <div class="row">
        <div class="col">
            <h4>Sign Up</h4>
            <form action="/register" method="POST">
                <label for="name">Name:</label>
                    <input type="text" name="name">
                <label for="email">Email:</label>
                    <input type="email" name="email">
                <label for="password">Password:</label>
                    <input type="password" name="password">
                <input type="submit" value="Create Account">
            </form>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <h4>Log In</h4>
            <form action="/login" method="POST">
                <label for="email">Email:</label>
                    <input type="email" name="email">
                <label for="password">Password:</label>
                    <input type="password" name="password">
                <input type="submit" value="Log in">
            </form>
        </div>
    </div>
</div>

<a href='https://pngtree.com/so/wine-clipart'>wine-clipart png from pngtree.com</a>
<a href='https://pngtree.com/so/green'>green png from pngtree.com</a>
<a href='https://pngtree.com/so/cartoon-fruit'>cartoon-fruit png from pngtree.com</a>
<a href='https://pngtree.com/so/grape'>grape png from pngtree.com</a>
<a href='https://pngtree.com/so/purple'>purple png from pngtree.com</a>
<a href='https://pngtree.com/so/style-icons'>style-icons png from pngtree.com</a>
<a href='https://pngtree.com/so/style-icons'>style-icons png from pngtree.com</a>
<a href='https://pngtree.com/so/style-icons'>style-icons png from pngtree.com</a>

{% endblock %}