{% extends 'base.html' %}

{% block title %}GRAPES{% endblock %}

{% block content %}

<div class="container">
    <div class="row" id="today-entry">
        <div id="grapes-prompt" class="col-4 offset-1">
            <h3 id="journal-head">{{ today.strftime("%B %d, %Y") }}</h3>
            <form action="/entry" method="POST">
                <label for="mood"><h4>How are you feeling today?</h4></label>
                <br>
                <label for="unripe">
                    <input type="radio" name="mood" value="unripe">
                    <i class="far fa-meh">Unripe</i>
                </label>
                <label for="sweet">  
                    <input type="radio" name="mood" value="sweet">
                    <i class="far fa-smile">Sweet</i>
                </label>
                <label for="sweet">
                    <input type="radio" name="mood" value="sour">
                    <i class="far fa-tired">Sour</i>
                </label>
                <label for="sweet">
                    <input type="radio" name="mood" value="rotten">
                    <i class="far fa-angry">Rotten</i>
                </label>
                <br>
                <br>
                <label for="grateful" class="acronym">G</label>
                    <input class="journal-field" id="grateful" name="grateful" placeholder="I am GRATEFUL for...">
                <br>
                <label for="resolutions" class="acronym">R</label>
                    <input class="journal-field" id="resolutions" name="resolutions" placeholder="I RESOLVE to...">
                <br>
                <label for="affirmation" class="acronym">A</label>
                    <input class="journal-field" id="affirmation" name="affirmation" placeholder="I AFFIRM that...">
                <br>
                <label for="proud" class="acronym">P</label>
                    <input class="journal-field" id="proud" name="proud" placeholder="I am PROUD of...">
                <br>
                <label for="excited" class="acronym">E</label>
                    <input class="journal-field" id="excited" name="excited" placeholder="I am EXCITED to...">
                <br>
                <label for="self-care" class="acronym">S</label>
                    <input class="journal-field" id="self-care" name="self-care" placeholder="I will SELF-CARE by...">
                <br>
                <br>
                <br>
                <br>  
        </div>

        <div class="col-4 offset-1" id="grapes-prompt">
            <h4>Jammin'<img src="/static/images/jam-jar.png" style="height:25px" /></h4>
                <p><em>What is your #1 Priority today?<br>Identify your goal and what's necessary to complete it.</em></p>
                <textarea class="whine" name="jam"></textarea>
            <br>
            <h4>Whine Time<img src="/static/images/wine-glass.png" style="height:25px" /></h4>
                <p><em>Acknowledging the good is only part of the process of journalling. Use this space (if you wish) to record a worry.</em></p>
                <textarea class="whine" name="whine"></textarea>

            <input type="submit" value="complete today's entry">
            </form>
        </div>
    </div>
    </div>
</div>


{% endblock %}