<!DOCTYPE html>
<html>
<head>
    <title>GRAPES Journal</title>
</head>
<body>
    <form action="/entry" method="POST">
        <label for="grateful">Grateful</label>
            <input class="journal-field" id="grateful" name="grateful">
        <br>
        <label for="resolutions">Resolutions</label>
            <input class="journal-field" id="resolutions" name="resolutions">
        <br>
        <label for="affirmation">Affirmation</label>
            <input class="journal-field" id="affirmation" name="affirmation">
        <br>
        <label for="proud">Proud</label>
            <input class="journal-field" id="proud" name="proud">
        <br>
        <label for="excited">Excited</label>
            <input class="journal-field" id="excited" name="excited">
        <br>
        <label for="schedule">Schedule</label>
            <input class="journal-field" id="schedule" name="schedule">
        <br>
            <input type="submit" value="complete journal">
    </form>
</body>
</html>